.table-container {
  text-align: center;
  width: 90vw;
}
.table {
  border: 1px solid gray;
}
.display {
  display: flex;
  justify-content: space-around;
}
.display-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-between {
  display: flex;
  justify-content: space-around;
}
.display-center {
  display: flex;
  justify-content: center;
}

.google-signin-button {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: #737373;
  border: 1px solid #737373;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.google-signin-button img {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}
