.details-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  border-radius: 20px;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.error {
  color: red;
}

.heading {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.instruction-container {
  min-height: 70%;
  max-height: 70%;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 60vw;
  overflow-y: scroll;
  padding: 20px;
}
.test-instructions {
  display: flex;
  justify-content: center;
}
.instructions {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
