/* Home component css */
.home-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.headerContainer{
    background-color:#004461;
    color:white;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-right:15px;
    padding-left:15px;
    border:1px solid black;
}

.headerLogoContainer{
    height:100%; 
    display:flex; 
    justify-content:center ;
    align-items:center;
}
.logo{
    height:50px;
    width:100px; 
    border-radius:10px;
}

.desktopHeaderNavbarContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.mobileHeaderNavbarContainer{
    display:none;
}

.headerNavbarLink{
    color:#004461;
    width:170px;
    height:50px;
    font-weight:bold;
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 0px;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.headerDesktopNavbarLink{
    color:white;
    font-weight:bold;
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 20px;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.headerDesktopNavbarLink:hover{
  background-position: 100% 100%;
  transform: scale(1);
  transition: transform 1s;
  color:#ED2B2A;
}
.headerNavbarLink:hover{
 background-position: 100% 100%;
  transform: scale(1.3);
  transition: transform 1s;
  color:#ED2B2A;
}

@media (max-width:768px){
    .desktopHeaderNavbarContainer{
        display:none;
    }
    .mobileHeaderNavbarContainer{
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        font-size:50px;
        
    }

    .admin-hamburger-btn{
        color:white;
        border:none;
        font-size: 25px;
        background-color:transparent;
    }
    
    .admin-mobile-hamburger-menu{
        color:white;
        margin-bottom: 20px;
        list-style: none;
    }
}